$black: #000000;
$primary-black: #1f1f1f;
$white: #ffffff;
$blue-01: #76B3FD;
$grey-01: #4c4c4c;
$grey-02: #797979;
$grey-03: #979797;
$grey-04: #a5a5a5;
$grey-05: #c4c4c4;
$grey-06: #e9e9e9;
$grey-07: #f8f8f8;
$grey-bg: #f4f4f4;
$light-point: #ffba84;
$point1: #f87b20;
$point2: #2ed1af;
$point3: #55acff;
$point4: #ec6b70;
$point5: #ffe163;
$green: #4db576;
$green100: #e1efe3;
$orange: #f18815;
$orange100: #feead3;
